
.left-panel #recent-ticket  #title {
	font-size: 25px;
	line-height: 60px;
}
.left-panel  .box-recent-tickets {
	/*padding: 10px 5%;*/
	border: 1px solid rgba(0,0,0,.15) ;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	margin-bottom: 20px;
	cursor: pointer;
	background: white;
}
.left-panel #recent-ticket .box-recent-tickets:hover {
	border-color: #f03c0b;
}
.left-panel #recent-ticket .box-recent-tickets .box-recent-tickets-left {
	text-align: left;
}
.left-panel #recent-ticket .box-recent-tickets .box-recent-tickets-right {
	text-align: right;
	/*padding: 0;*/
} 
.left-panel #recent-ticket .box-recent-tickets .box-recent-tickets-right>p>span {
	font-size: 20px;
	color: orange;
}

.box-recent-posts {
  width: 100%;
  padding: 0;
  /*padding: 10px 5%;*/
  clear: both;
  height: 115px;
  padding:20px 0;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted rgba(0,0,0,.15) ;
}
#recent-posts>p {
  font-size: 25px;
  line-height: 60px;
}
.box-recent-posts-img {

  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 75px;
}
.box-recent-posts-img:hover .hover {
  display: block;
}
.box-recent-posts-img .hover {
  height: 75px;
  width: 75px;
  background-color: #e6562f;
  opacity: 0.85;
  position: absolute;
  display: none;
  top: 0;
  text-align: center;
}
.box-recent-posts-img .hover .fa-search-plus{
  font-size:30px;
  color: white;
  margin-top: 20px;
}
.box-recent-posts-text {
  display: inline-block;
  float: right;

}
#blog-search {
  margin-bottom:30px;
  margin-top: 30px;
}
#blog-search p {
  font-size: 25px;
}
#categories {
  margin-bottom: 30px;
}
#categories p{
  font-size: 25px;
}
.menu-categories {
  line-height: 40px;
  border-top: 1px dotted #777;
  border-bottom: 1px dotted #777;
  cursor: pointer;
  font-size: 16px;
  color: #777;
}
.menu-categories:hover {
  color: #f03c0b;
}
.menu-categories .right{
  float: right;
}
#Gallery {
  margin-bottom: 30px;
}
#Gallery p {
  font-size: 25px;
}
/*slide*/
#slideShow {
      width: 100%;
      height: 200px;
      position: relative;
    }
#slideShow .image {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      /*z-index: 1;*/
    }
#slideShow .icon {
      position: absolute;
      display: block;
      cursor: pointer;
      color: white;      
    }
#slideShow .icon:hover {
      opacity: 1;
      color: #f03c0b
    }
#slideShow .icon1 {
      top: 100px;
      left: 0;
    }
#slideShow .icon2 {
      top: 100px;
      right: 0;
    }
#slideShow .fa-angle-left {
      font-size: 25px;

    }
#slideShow .fa-angle-right {
      font-size: 25px;
    }
/*end slide*/
#Gallery button {
  margin-top: 20px;
  font-weight: bold;
  border:2px solid #777;
}
#tags {
  margin-bottom: 30px;
  margin-top: 30px;
}
#tags p{
  font-size: 25px;
}
#tags button {
  margin: 10px 5px;
  border-radius: 15px;

}
#tags button:hover {
  color: #f03c0b;
  border-color: #f03c0b;
  background-color: white;
}
#recomended {
  margin: 30px 0;
}
#recomended p{
  font-size: 25px;
}
/*dadasd*/
#sort {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}
#sort>span {
  font-weight: bold;
  font-size: 16px;
}
.read .dropdown {
  float: right;
  margin-left: 30px;
}
.read .dropdown>a {
  color: #777;
  font-size: 18px;
}
.read.dropdown ul li {
  line-height: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.15)

}
.read .dropdown ul li:hover a{
  color: #f03c0b;
}
#slideShow1 {
      width: 100%;
      height: 400px;
      position: relative;
    }
#slideShow1 .image {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      /*z-index: 1;*/
    }
#slideShow1 .icon {
      position: absolute;
      display: block;
      cursor: pointer;
      color: white;      
    }
#slideShow1 .icon:hover {
      opacity: 1;
      color: #f03c0b
    }
#slideShow1 .icon1 {
      top: 200px;
      left: 0;
    }
#slideShow1 .icon2 {
      top: 200px;
      right: 0;
    }
#slideShow1 .fa-angle-left {
      font-size: 50px;

    }
#slideShow1 .fa-angle-right {
      font-size: 50px;
    }
.box-blog1 {
  padding-bottom: 30px;
}
.box-blog1 i {
  color: #f03c0b;
  margin: 15px 10px;
}
.box-blog1 button {
  border: 2px solid #777;
  color: #777;
  width: 100px;
  margin-left: 10px;
  font-weight: bold;
}
.box-blog1 h2 {
  margin-left: 10px;
}
.box-blog1 p {
  margin-left: 10px;

}
.read,.read-infor {
  display: none;
}
.read-infor table button {
  padding:0 5px;
  border-radius: 15px;
}
.read-infor table button:hover {
  background-color: white;
  color: #f03c0b;
  border-color: #f03c0b;
}
.read-infor table tr {
  line-height: 40px;
}
.read-infor table th {
  width: 70px;
}
.read-infor table td i {
  margin:0 5px;
}
.read-infor table td i{
  color: black;
  font-size: 18px;
}
.read-infor table td i:hover {
color: #f03c0b;
}
.read-infor form button {
  background: #f03c0b;
  border:0;
  color: white;
  font-weight: bold;;
  height: 40px;
  margin-bottom: 30px;
}
